In [2]:
serverpath = "https://needtoknow.cz"
document = "/~profesor/data/jh-simple-dataset.csv"

In [3]:
import getpass
server = getpass.getpass()
serverpath = f"https://{server}.cz"

 ········

In [4]:
fullurl = serverpath + document

In [5]:
import pandas as pd

df = pd.read_csv(fullurl, na_values=["NA", "?"])
display(df)

,id,job,area,income,aspect,subscriptions,dist_healthy,save_rate,dist_unhealthy,age,pop_dense,retail_dense,crime,product
0,1,vv,c,50876.0,13.100000,1,9.017895,35,11.738935,49,0.885827,0.492126,0.071100,b
1,2,kd,c,60369.0,18.625000,2,7.766643,59,6.805396,51,0.874016,0.342520,0.400809,c
2,3,pe,c,55126.0,34.766667,1,3.632069,6,13.671772,44,0.944882,0.724409,0.207723,b
3,4,11,c,51690.0,15.808333,1,5.372942,16,4.333286,50,0.889764,0.444882,0.361216,b
4,5,kl,d,28347.0,40.941667,3,3.822477,20,5.967121,38,0.744094,0.661417,0.068033,a
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1996,vv,c,51017.0,38.233333,1,5.454545,34,14.013489,41,0.881890,0.744094,0.104838,b
1996,1997,kl,d,26576.0,33.358333,2,3.632069,20,8.380497,38,0.944882,0.877953,0.063851,a
1997,1998,kl,d,28595.0,39.425000,3,7.168218,99,4.626950,36,0.759843,0.744094,0.098703,f
1998,1999,qp,c,67949.0,5.733333,0,8.936292,26,3.281439,46,0.909449,0.598425,0.117803,c
1999,2000,pe,c,61467.0,16.891667,0,4.312097,8,9.405648,48,0.925197,0.539370,0.451973,c

In [6]:
dummies = pd.get_dummies(df["job"], prefix="job")
print(dummies.shape)
dummies

(2000, 33)

,job_11,job_al,job_am,job_ax,job_bf,job_by,job_cv,job_de,job_dz,job_e2,...,job_pe,job_po,job_pq,job_pz,job_qp,job_qw,job_rn,job_sa,job_vv,job_zz
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1999,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [8]:
df2 = pd.concat([df, dummies], axis=1)
df2.drop("job", axis=1, inplace=True)
df2

,id,area,income,aspect,subscriptions,dist_healthy,save_rate,dist_unhealthy,age,pop_dense,...,job_pe,job_po,job_pq,job_pz,job_qp,job_qw,job_rn,job_sa,job_vv,job_zz
0,1,c,50876.0,13.100000,1,9.017895,35,11.738935,49,0.885827,...,0,0,0,0,0,0,0,0,1,0
1,2,c,60369.0,18.625000,2,7.766643,59,6.805396,51,0.874016,...,0,0,0,0,0,0,0,0,0,0
2,3,c,55126.0,34.766667,1,3.632069,6,13.671772,44,0.944882,...,1,0,0,0,0,0,0,0,0,0
3,4,c,51690.0,15.808333,1,5.372942,16,4.333286,50,0.889764,...,0,0,0,0,0,0,0,0,0,0
4,5,d,28347.0,40.941667,3,3.822477,20,5.967121,38,0.744094,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1996,c,51017.0,38.233333,1,5.454545,34,14.013489,41,0.881890,...,0,0,0,0,0,0,0,0,1,0
1996,1997,d,26576.0,33.358333,2,3.632069,20,8.380497,38,0.944882,...,0,0,0,0,0,0,0,0,0,0
1997,1998,d,28595.0,39.425000,3,7.168218,99,4.626950,36,0.759843,...,0,0,0,0,0,0,0,0,0,0
1998,1999,c,67949.0,5.733333,0,8.936292,26,3.281439,46,0.909449,...,0,0,0,0,1,0,0,0,0,0
1999,2000,c,61467.0,16.891667,0,4.312097,8,9.405648,48,0.925197,...,1,0,0,0,0,0,0,0,0,0

In [10]:
df3 = pd.concat([df2, pd.get_dummies(df2["area"], prefix="area")], axis=1)
df3.drop("area", axis=1, inplace=True)
df3

,id,income,aspect,subscriptions,dist_healthy,save_rate,dist_unhealthy,age,pop_dense,retail_dense,...,job_qp,job_qw,job_rn,job_sa,job_vv,job_zz,area_a,area_b,area_c,area_d
0,1,50876.0,13.100000,1,9.017895,35,11.738935,49,0.885827,0.492126,...,0,0,0,0,1,0,0,0,1,0
1,2,60369.0,18.625000,2,7.766643,59,6.805396,51,0.874016,0.342520,...,0,0,0,0,0,0,0,0,1,0
2,3,55126.0,34.766667,1,3.632069,6,13.671772,44,0.944882,0.724409,...,0,0,0,0,0,0,0,0,1,0
3,4,51690.0,15.808333,1,5.372942,16,4.333286,50,0.889764,0.444882,...,0,0,0,0,0,0,0,0,1,0
4,5,28347.0,40.941667,3,3.822477,20,5.967121,38,0.744094,0.661417,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1996,51017.0,38.233333,1,5.454545,34,14.013489,41,0.881890,0.744094,...,0,0,0,0,1,0,0,0,1,0
1996,1997,26576.0,33.358333,2,3.632069,20,8.380497,38,0.944882,0.877953,...,0,0,0,0,0,0,0,0,0,1
1997,1998,28595.0,39.425000,3,7.168218,99,4.626950,36,0.759843,0.744094,...,0,0,0,0,0,0,0,0,0,1
1998,1999,67949.0,5.733333,0,8.936292,26,3.281439,46,0.909449,0.598425,...,1,0,0,0,0,0,0,0,1,0
1999,2000,61467.0,16.891667,0,4.312097,8,9.405648,48,0.925197,0.539370,...,0,0,0,0,0,0,0,0,1,0

In [12]:
df3['income'].isnull().any()

True

In [13]:
med = df3["income"].median()
df3["income"] = df3["income"].fillna(med)
df3

,id,income,aspect,subscriptions,dist_healthy,save_rate,dist_unhealthy,age,pop_dense,retail_dense,...,job_qp,job_qw,job_rn,job_sa,job_vv,job_zz,area_a,area_b,area_c,area_d
0,1,50876.0,13.100000,1,9.017895,35,11.738935,49,0.885827,0.492126,...,0,0,0,0,1,0,0,0,1,0
1,2,60369.0,18.625000,2,7.766643,59,6.805396,51,0.874016,0.342520,...,0,0,0,0,0,0,0,0,1,0
2,3,55126.0,34.766667,1,3.632069,6,13.671772,44,0.944882,0.724409,...,0,0,0,0,0,0,0,0,1,0
3,4,51690.0,15.808333,1,5.372942,16,4.333286,50,0.889764,0.444882,...,0,0,0,0,0,0,0,0,1,0
4,5,28347.0,40.941667,3,3.822477,20,5.967121,38,0.744094,0.661417,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1996,51017.0,38.233333,1,5.454545,34,14.013489,41,0.881890,0.744094,...,0,0,0,0,1,0,0,0,1,0
1996,1997,26576.0,33.358333,2,3.632069,20,8.380497,38,0.944882,0.877953,...,0,0,0,0,0,0,0,0,0,1
1997,1998,28595.0,39.425000,3,7.168218,99,4.626950,36,0.759843,0.744094,...,0,0,0,0,0,0,0,0,0,1
1998,1999,67949.0,5.733333,0,8.936292,26,3.281439,46,0.909449,0.598425,...,1,0,0,0,0,0,0,0,1,0
1999,2000,61467.0,16.891667,0,4.312097,8,9.405648,48,0.925197,0.539370,...,0,0,0,0,0,0,0,0,1,0

In [15]:
x_columns = df3.columns.drop(["product", "id"])
x_columns

Index(['income', 'aspect', 'subscriptions', 'dist_healthy', 'save_rate',
       'dist_unhealthy', 'age', 'pop_dense', 'retail_dense', 'crime', 'job_11',
       'job_al', 'job_am', 'job_ax', 'job_bf', 'job_by', 'job_cv', 'job_de',
       'job_dz', 'job_e2', 'job_f8', 'job_gj', 'job_gv', 'job_kd', 'job_ke',
       'job_kl', 'job_kp', 'job_ks', 'job_kw', 'job_mm', 'job_nb', 'job_nn',
       'job_ob', 'job_pe', 'job_po', 'job_pq', 'job_pz', 'job_qp', 'job_qw',
       'job_rn', 'job_sa', 'job_vv', 'job_zz', 'area_a', 'area_b', 'area_c',
       'area_d'],
      dtype='object')

In [23]:
from sklearn import preprocessing

# Convert to numpy - Classification
x_columns = df3.columns.drop(["product", "id"])

print(x_columns)

x = df3[x_columns].values
le = preprocessing.LabelEncoder()
y = le.fit_transform(df3["product"])
products = le.classes_
y = dummies.values

Index(['income', 'aspect', 'subscriptions', 'dist_healthy', 'save_rate',
       'dist_unhealthy', 'age', 'pop_dense', 'retail_dense', 'crime', 'job_11',
       'job_al', 'job_am', 'job_ax', 'job_bf', 'job_by', 'job_cv', 'job_de',
       'job_dz', 'job_e2', 'job_f8', 'job_gj', 'job_gv', 'job_kd', 'job_ke',
       'job_kl', 'job_kp', 'job_ks', 'job_kw', 'job_mm', 'job_nb', 'job_nn',
       'job_ob', 'job_pe', 'job_po', 'job_pq', 'job_pz', 'job_qp', 'job_qw',
       'job_rn', 'job_sa', 'job_vv', 'job_zz', 'area_a', 'area_b', 'area_c',
       'area_d'],
      dtype='object')

In [21]:
x

array([[5.08760000e+04, 1.31000000e+01, 1.00000000e+00, ...,
        0.00000000e+00, 1.00000000e+00, 0.00000000e+00],
       [6.03690000e+04, 1.86250000e+01, 2.00000000e+00, ...,
        0.00000000e+00, 1.00000000e+00, 0.00000000e+00],
       [5.51260000e+04, 3.47666667e+01, 1.00000000e+00, ...,
        0.00000000e+00, 1.00000000e+00, 0.00000000e+00],
       ...,
       [2.85950000e+04, 3.94250000e+01, 3.00000000e+00, ...,
        0.00000000e+00, 0.00000000e+00, 1.00000000e+00],
       [6.79490000e+04, 5.73333333e+00, 0.00000000e+00, ...,
        0.00000000e+00, 1.00000000e+00, 0.00000000e+00],
       [6.14670000e+04, 1.68916667e+01, 0.00000000e+00, ...,
        0.00000000e+00, 1.00000000e+00, 0.00000000e+00]])

In [22]:
y

array([1, 2, 1, ..., 5, 2, 2])