# MongoDb

## Inevitable Inicializations

In [15]:
!pip install pymongo

Requirement already satisfied: pymongo in /opt/conda/lib/python3.7/site-packages (3.10.1)

In [1]:
import pandas as pd

def displayData(data):
    df = pd.DataFrame(data)
    display(df)

## Connecting to Database

In [4]:

from pymongo import MongoClient
client = MongoClient('mongodb://%s:%s@mongo' % ('root', 'example'))
db = client.admin
serverStatusResult = db.command("serverStatus")
displayData(serverStatusResult)
#print(serverStatusResult)

,host,version,process,pid,uptime,uptimeMillis,uptimeEstimate,localTime,asserts,connections,...,storageEngine,tcmalloc,trafficRecording,transactions,transportSecurity,twoPhaseCommitCoordinator,wiredTiger,mem,metrics,ok
regular,edab32453b84,4.2.6,mongod,1,57025.0,57025626,57025,2020-04-28 09:14:17.903,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
warning,edab32453b84,4.2.6,mongod,1,57025.0,57025626,57025,2020-04-28 09:14:17.903,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
msg,edab32453b84,4.2.6,mongod,1,57025.0,57025626,57025,2020-04-28 09:14:17.903,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
user,edab32453b84,4.2.6,mongod,1,57025.0,57025626,57025,2020-04-28 09:14:17.903,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
rollovers,edab32453b84,4.2.6,mongod,1,57025.0,57025626,57025,2020-04-28 09:14:17.903,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
operation,edab32453b84,4.2.6,mongod,1,57025.0,57025626,57025,2020-04-28 09:14:17.903,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'scanAndOrder': 0, 'writeConflicts': 0}",1.0
queryExecutor,edab32453b84,4.2.6,mongod,1,57025.0,57025626,57025,2020-04-28 09:14:17.903,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'scanned': 129, 'scannedObjects': 1714938}",1.0
record,edab32453b84,4.2.6,mongod,1,57025.0,57025626,57025,2020-04-28 09:14:17.903,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,{'moves': 0},1.0
repl,edab32453b84,4.2.6,mongod,1,57025.0,57025626,57025,2020-04-28 09:14:17.903,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'executor': {'pool': {'inProgressCount': 0}, ...",1.0
ttl,edab32453b84,4.2.6,mongod,1,57025.0,57025626,57025,2020-04-28 09:14:17.903,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{'deletedDocuments': 4, 'passes': 407}",1.0

## Create Database

In [5]:
db = client.business # do not  worry, just use it

## Insert into Database

In [6]:
from random import randint
db = client.business
#Step 2: Create sample data
names = ['Kitchen','Animal','State', 'Tastey', 'Big','City','Fish', 'Pizza','Goat', 'Salty','Sandwich','Lazy', 'Fun']
company_type = ['LLC','Inc','Company','Corporation']
company_cuisine = ['Pizza', 'Bar Food', 'Fast Food', 'Italian', 'Mexican', 'American', 'Sushi Bar', 'Vegetarian']
for x in range(1, 501):
    business = {
        'name' : names[randint(0, (len(names)-1))] + ' ' + names[randint(0, (len(names)-1))]  + ' ' + company_type[randint(0, (len(company_type)-1))],
        'rating' : randint(1, 5),
        'cuisine' : company_cuisine[randint(0, (len(company_cuisine)-1))] 
    }
    #Step 3: Insert business object directly into MongoDB via isnert_one
    result = db.reviews.insert_one(business)
    print('.', end='')
    
#Step 5: Tell us that you are done
print('finished creating 500 business reviews')

....................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................finished creating 500 business reviews

In [8]:
newbusiness = {'name': 'Řízkovna', 'rating': 1, 'cuisine': 'Řízky', 'reason': 'ukázka'}
result = db.reviews.insert_one(newbusiness)
print(result)

<pymongo.results.InsertOneResult object at 0x7f6ca9b069b0>

In [9]:
print(str(result))

<pymongo.results.InsertOneResult object at 0x7f6ca9b069b0>

## Select from Database

### Select One

In [10]:
fivestar = db.reviews.find_one({'rating': 5})
print(fivestar)

{'_id': ObjectId('5ea7f5b1491d867f95562d9b'), 'name': 'State Tastey Corporation', 'rating': 5, 'cuisine': 'American'}

### Select Many

In [12]:
fivestars = db.reviews.find({'rating': 1})
print(fivestars)
displayData(fivestars)

<pymongo.cursor.Cursor object at 0x7f6ca8aa5090>

,_id,name,rating,cuisine,reason
0,5ea7f5b1491d867f95562da0,State Salty Corporation,1,Fast Food,NaN
1,5ea7f5b1491d867f95562da3,Fun Salty Company,1,Italian,NaN
2,5ea7f5b1491d867f95562dad,Tastey Tastey Company,1,Fast Food,NaN
3,5ea7f5b1491d867f95562db8,State Tastey Inc,1,Italian,NaN
4,5ea7f5b1491d867f95562dbd,Pizza City Corporation,1,American,NaN
...,...,...,...,...,...
96,5ea7f5b2491d867f95562f76,City Goat LLC,1,Pizza,NaN
97,5ea7f5b2491d867f95562f7b,Animal City LLC,1,Italian,NaN
98,5ea7f5b2491d867f95562f88,Tastey Goat Company,1,Bar Food,NaN
99,5ea7f5b2491d867f95562f8d,Salty State Inc,1,Pizza,NaN
100,5ea7f758491d867f95562f8e,Řízkovna,1,Řízky,ukázka

In [13]:
db = client.business

print('\nThe sum of each rating occurance across all data grouped by rating ')
stargroup = db.reviews.aggregate(
# The Aggregation Pipeline is defined as an array of different operations
[
# The first stage in this pipe is to group data
{ '$group':
    { '_id': "$rating",
     "count" : 
                 { '$sum' :1 }
    }
},
# The second stage in this pipe is to sort the data
{"$sort":  { "_id":1}
}
# Close the array with the ] tag             
] )
# Print the result
for group in stargroup:
    print(group)

The sum of each rating occurance across all data grouped by rating
{'_id': 1, 'count': 101}
{'_id': 2, 'count': 98}
{'_id': 3, 'count': 88}
{'_id': 4, 'count': 120}
{'_id': 5, 'count': 94}

## Update

In [14]:
ASingleReview = db.reviews.find_one({})
print('A sample document:')
displayData([ASingleReview])

result = db.reviews.update_one({'_id' : ASingleReview.get('_id') }, {'$inc': {'likes': 1}})
print('Number of documents modified : ' + str(result.modified_count))

UpdatedDocument = db.reviews.find_one({'_id':ASingleReview.get('_id')})
displayData([UpdatedDocument])

A sample document:

                        _id               name  rating    cuisine
0  5ea7f5b1491d867f95562d9a  State Kitchen LLC       2  Sushi Bar

Number of documents modified : 1

                        _id               name  rating    cuisine  likes
0  5ea7f5b1491d867f95562d9a  State Kitchen LLC       2  Sushi Bar      1